/*Created by Vanessa Bonner*/
/*Date: January 29, 2023*/
/*Description: This is the CSS file for the CrossWordPuzzle.html file*/

table{
    border: 1px solid black;
    padding: 0px;
}
  
td{
    height: 40px;
    width: 40px;
    border: 1px solid black;
    color: white;
    background-color: royalblue;
    text-align: center;
}

.grid {
    background-color: white;
    color: black;
}